.hacker-list {
    list-style: disc;
    li {
        margin-bottom: 25px;
        h1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.03em;
            
            color: #212121;
        }
    }
}
.text-hacker {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
