.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.03em;

    color: red;
}
.ker {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.03em;

    color: black;
}
.header-list {
    list-style: disc;
}
.header-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
}
.header-link:hover {
    color: #2196F3;
    ;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current {
    color: #2196F3;
}
